
h1{
    text-align:center

}
body{
    background-image:url("background.jpg");
    background-size: cover;
    background-repeat: repeat;
}
h1 {
    text-align: center;
    color: rgb(243, 236, 236);
    border-radius: 3px;
    background: lightskyblue
}
.center, .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  
}
.greek{
    background-color: #df855c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.arabic{
    background-color: #21bda3; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.polish{
    background-color: #a9df2b; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.russian{
    background-color: #0ee7dc; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.spanish{
    background-color: #12fa1a; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.ukrainian{
    background-color: #1746e2; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.georgian{
    background-color: #622e80; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;   
}

.korean{
    background-color: #cc2586; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
}

.start-button{
    position:center;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
}

.video{
    position: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    

}

#click {
    display: none
}
.instructions{
    display: block;
    width: 160px;
    height: 50px;
    background: lightskyblue;
    border: 1px solid lightskyblue;
    color: white;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    border-radius: 3px;
    cursor: pointer;
    transition: .5s;
    
}
.instructions:hover {
    background: lightskyblue;
}

.content {
    opacity: 0;
    visibility: hidden;
    width: 400px;
    height: 300px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 5px 15px -1px #00000070;
}
#click:checked ~ .content{
    opacity: 1;
    visibility: visible;
}
.header {
   
    height: 68px;
    background:lightskyblue;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
}
.header h2{
    color: white;
    padding-left: 32px;
    font-weight: normal;

}
.fa-times{
    positio n: absolute;
    right: 20px;
    top: 20px;
    color: #e8f7fc;
   font-size: 20px;
   font-weight: bold;
   cursor: pointer;

}
/*.fa-check {
    font-size: 50px;
    color: #27ae60;
    font-weight: bold;
    height: 80px;
    width: 80px;
    border: 2px solid #27ae60;
    text-align: center;
    padding-top: 13px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 30px 0 0 160px;
}
*/
p{
    padding-top: 10px;
    font-size: 19px;
    color: #1a1a1a;
    text-align: center;
}
.line{
    bottom: 60px;
    width: 100%;
    height: 1px;
    background: silver;

}

.close-btn {
    position: absolute;
    bottom: 12px;
    right: 25px;
    border: 1px solid lightskyblue;
    border-radius: 3px;
    color: lightskyblue;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
}

.close-btn:hover{
    background-color: lightskyblue;
    color:white;
    transition: .5s;
}
.video{
    display:block;
    margin: auto;
}
.canvas{
    border:1px solid;
    margin-left:100px;
    width:100px;
    height:50px;
    background-color: whitesmoke;
  }

 #video {
     align-items: center;
 }