body{
    background-image:url("background.jpg");
    background-size: cover;
    background-repeat: repeat;
}

.center, .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  
}
.content {
    display: none;
    
}
.click-me{
    display: block;
    width: 160px;
    height: 50px;
    background: #27ae50;
    border: 1px solid #26a65b;
    color: white;
    text-align: center;
    font-size: 22px;
}

.video{
    display:block;
    margin: auto;
}
#container{
    background-color: #4CAF50; /* Green */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn0{
  
}
.btn1{

}
.btn2{

}
.btn3{

}
.btn4{

}
.btn5{

}